{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'pages/styles.css' %}">

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Laning-\ page</title>
  {% endif %}
</head>

<body data-spy="scroll" data-target="#menu">
  <div id="home">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo image</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#smth">Smth</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="landing">
      <div class="home-wrap">
        <div class="home-inner">
        </div>
      </div>
    </div>

    <div class="caption center-block text-center">
      <h3>Welcome to my website</h3>
      <a class="btn btn-outline-light" href="#about">Get Started</a>

    </div>
  </div>
  <div id="about">
    <div class="jumbotron">
      <h3 class="heading">About</h3>
      <div class="row">
        <div class="col-md-4 text-center">
          <h4>Responsive websites</h4>
          <p>
            It is a long established fact that a reader will be distracted
            by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters
          </p>
        </div>
        <div class="col-md-4 text-center">
          <h4>Creative Solutions</h4>
          <p>
            It is a long established fact that a reader will be distracted
            by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters
          </p>
        </div>
        <div class="col-md-4 text-center">
          <h4>Beautiful design</h4>
          <p>
            It is a long established fact that a reader will be distracted
            by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio">
    <div class="container-fluid padding">
      <h3 class="heading">Portfolio</h3>
      <div class="row no-padding">
        <div class="col-md-6">
          <img class="portfolio" src="{{STATIC_URL}}media/img-1.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img class="portfolio" src="{{STATIC_URL}}media/img-2.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img class="portfolio" src="{{STATIC_URL}}media/img-3.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img class="portfolio" src="{{STATIC_URL}}media/img-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div id="smth">
    <h3 class="heading">Smth</h3>
    <div class="row padding">
      <div class="col-md-6">
        <div class="card text-center">
          <img class="card-img-top" src="{{STATIC_URL}}media/img-5.jpg" alt="">
          <div class="card-body">
            <h4>lorem Ipsum</h4>
            <p>Something about lorem</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center">
          <img class="card-img-top" src="{{STATIC_URL}}media/img-6.jpg" alt="">
          <div class="card-body">
            <h4>Another lorem Ipsum</h4>
            <p>Something about lorem</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center socials">
          <img src="" alt="">
          <p>Nice Logo</p>
          <strong>Our Location</strong>
          <p>Yerevan, Armenia <br> Phone: 012 345678</p>
          <a href="#"><img src="{{STATIC_URL}}media/facebook.png" alt=""></a>
          <a href="#"><img src="{{STATIC_URL}}media/instagram.png" alt=""></a>
          <a href="#"><img src="{{STATIC_URL}}media/twitter.png" alt=""></a>
          <a href="#"><img src="{{STATIC_URL}}media/whatsapp.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
